<h1><%=@doctor.name%></h1>

Department: <%=@doctor.department%>

Appointments:
<%@doctor.patients.each do |patient|%>
<%=link_to patient.name, patient_path(patient)%>: <%=patient.appointment_datetime.strftime("%B %d, %Y at %H:%M")%>
<%end%>
